body {
    margin: 0;
    padding: 0;
}

#map {
    position: relative;
    height: 100%;
    width: 100%;
}

.marker_icon {
    background: blue;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}