.icon {
    width: 64px;
    height: auto;
}

md-list-item {
    height: 80px;
    border-bottom: 1px solid gray;
    margin: 10px 0;
    
    .mat-list-item-content > div {
        display: block;
    }
}