<md-list>
    <a  routerLink="/map/store/{{store.id - 1}}" md-list-item *ngFor="let store of settings.stores; let i = index" [class.selected]="store === selectedStore">
        <img md-list-avatar src="{{settingsService.getStoreGroupImage(store.group, 'icon')}}" alt="{{store.name}}">
        <!-- <img src="/assets/icons/stores_{{store.icon}}" title="{{store.name}}" class="icon"/>  -->
        <p md-line><b> {{store.name}}</b></p>
        <span md-line>{{store.address}}, {{store.postleihzahl}} {{store.city}}</span>
    </a>
</md-list>