:host {
    max-width: 100%;
    overflow: scroll;
}

table {
    border-collapse: separate;
    border-spacing: 10px 2px;
}

td {
    padding: 4px;
}

tr {
    margin: 4px 0;
}

thead td {
    font-size: 1.5em;
    color: #444;
    background: white;
}

tr:nth-child(odd) {
    background: lightblue;
}