@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
// @import '../../assets/styles/datatable/material.css';

/*
.frame {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
    background: red;
    position: relative;
}
*/


/*

:host {
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
    background: red;
    position: relative;
}

table {
    
    border-collapse: separate;
    border-spacing: 10px 2px;
}
td {
    padding: 4px;
    
}
tr {
    margin: 4px 0;
}
thead td {
    font-size: 1.5em;
    color: #444;
    background: white;
}
tr:nth-child(odd) {
    background: lightblue;
}


*/