<button id="add-marker" class="btn btn-default on-map" [class.btn-primary]="editing"
        title="Add markers by clicking on the map" (click)="toggleEditing()" btnCheckbox>
    <md-icon>location_on</md-icon>
</button>

<button id="remove-marker" class="btn btn-default on-map" [class.btn-primary]="removing"
        title="Remove markers by clicking on them" (click)="toggleRemoving()" btnCheckbox>
    <md-icon>delete</md-icon>
</button>

<button id="toggle-layer" class="btn btn-default on-map" [class.btn-primary]="airportLayerAdded"
        title="Toggle the airport layer" (click)="toggleAirPortLayer()" btnCheckbox>
    <md-icon>airplanemode_active</md-icon>
</button>
<button id="toggle-layer" class="btn btn-default on-map" [class.btn-primary]="airportLayerAdded"
        title="Toggle the airport layer" (click)="test()" btnCheckbox>
    <md-icon>bug_report</md-icon>
</button>