
   
<md-toolbar color="ascent">
  <img src="/assets/logos/{{settings.workspace.slug}}.jpg" alt="{{settings.workspace.name}}" class="logo"/>
</md-toolbar>




    <md-nav-list>
       
       <a md-list-item routerLink="/" routerLinkActive="active"><md-icon>home</md-icon>Startseite</a>
        <a md-list-item routerLink="/map"  routerLinkActive="active"><md-icon>map</md-icon>Karte</a>
        <a md-list-item routerLink="/clients"  routerLinkActive="active"><md-icon>list</md-icon>Kundenliste</a>
        <a md-list-item routerLink="/"  routerLinkActive=""><md-icon>star</md-icon>Favoriten</a>
        <a md-list-item routerLink="/settings"  routerLinkActive="active"><md-icon>settings</md-icon>Einstellungen</a>
        
        
        
        <md-divider></md-divider>
        
        <h3 md-subheader>Filtereinstellungen</h3>
        <p class="filtercontainer"><filters></filters></p>

     
        
        
        <md-divider></md-divider>
        
        <h3 md-subheader>Kartenart</h3>
        <md-radio-group (change)="changeBaseMap()" [(ngModel)]="selectedMap">
            <md-list-item><md-radio-button value="osm" checked>Traditionell (OSM)</md-radio-button></md-list-item>
            <md-list-item><md-radio-button value="esri">Topographie (Esri)</md-radio-button></md-list-item>
            <md-list-item><md-radio-button value="cartodb">Kartographie (CartoDB)</md-radio-button></md-list-item>
        </md-radio-group>
       
       
    </md-nav-list>

