<md-toolbar color="ascent">
    <!-- <img src="/assets/logos/{{settings.workspace.slug}}.jpg" alt="{{settings.workspace.name}}" class="logo" /> -->
    <a routerLink="/" routerLinkActive="active" class="logo"> DeliverMap<span>alpha</span></a>
</md-toolbar>




<md-nav-list>

    <a md-list-item routerLink="/map" routerLinkActive="active">
        <md-icon>map</md-icon>Karte</a>
    <a md-list-item routerLink="/clients" routerLinkActive="active">
        <md-icon>list</md-icon>Kundenliste</a>
    <a md-list-item routerLink="/settings" routerLinkActive="active">
        <md-icon>settings</md-icon>Einstellungen</a>




    <div class="filtercontainer" *ngIf="showFilters">
        <md-divider></md-divider>
        <filters></filters>
    </div>





    <div *ngIf="showMapFeatures">
        <md-divider></md-divider>
        <h3 md-subheader>Kartenart</h3>
        <md-radio-group (change)="changeBaseMap()" [(ngModel)]="selectedMap">
            <md-list-item>
                <md-radio-button value="osm" checked>Traditionell (OSM)</md-radio-button>
            </md-list-item>
            <md-list-item>
                <md-radio-button value="esri">Topographie (Esri)</md-radio-button>
            </md-list-item>
            <md-list-item>
                <md-radio-button value="cartodb">Kartographie (CartoDB)</md-radio-button>
            </md-list-item>
        </md-radio-group>
    </div>

</md-nav-list>