.spacer {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}


/*
filters {
    padding: 0 16px;
    margin: 0;
    position: relative;
    display: block;
    max-width: 220px;
} */

.logo {
    max-height: 48px;
    padding: 8px 0;
    max-width: 200px;
    float: left;
}

.workspacelogo {
    max-height: 32px;
    max-width: 150px;
}

.logolink {
    color: gray;
    text-decoration: none;
    font-size: 0.75em;
    height: 64px;
}

.logolink .float {
    display: inline-block;
    height: 64px;
    padding: 8px;
    line-height: 16px;
    text-align: right;
}

.logolink .version {
    display: block;
}