<md-toolbar color="ascent">

    <a routerLink="/" routerLinkActive="active" class="logolink"> <img src="/assets/logos/logo_mdmap_v1.svg" alt="MDMap" class="logo" />
        <span class="float">
            <!-- TODO not w3c conform to have a div inside an a -->
            <img src="/assets/logos/{{workspace.slug}}.jpg" alt="{{workspace.name}}" class="workspacelogo" />
            <span class="version">Version {{version}}</span>
        </span>
    </a>
</md-toolbar>




<md-nav-list>

    <a md-list-item routerLink="/map" routerLinkActive="active">
        <md-icon>map</md-icon>Karte</a>
    <a md-list-item routerLink="/clients" routerLinkActive="active">
        <md-icon>list</md-icon>Kundenliste</a>
    <a md-list-item routerLink="/settings" routerLinkActive="active">
        <md-icon>settings</md-icon>Einstellungen</a>




    <div class="filtercontainer" *ngIf="showFilters">
        <md-divider></md-divider>
        <filters></filters>
    </div>





    <div *ngIf="showMapFeatures">
        <md-divider></md-divider>
        <h3 md-subheader>Kartenart</h3>
        <md-radio-group (change)="changeBaseMap()" [(ngModel)]="selectedMap">
            <md-list-item>
                <md-radio-button value="osm" checked>Traditionell (OSM)</md-radio-button>
            </md-list-item>
            <md-list-item>
                <md-radio-button value="esri">Topographie (Esri)</md-radio-button>
            </md-list-item>
            <md-list-item>
                <md-radio-button value="cartodb">Kartographie (CartoDB)</md-radio-button>
            </md-list-item>
        </md-radio-group>
    </div>

</md-nav-list>