<clients-table-list [data]="clients" limit="10" quicksearch="true"></clients-table-list>
<!--
<h4>{{clients.length}} Kunden in dieser Ansicht</h4>

<div *ngIf="clients">
    <md-list dense>
        <md-list-item *ngFor="let client of clients" [class.starred]="client.starred" [class.selected]="client.selected">
            <p md-line class="name" style="font-size: 1.2em; font-weight: bold">{{client.name}}</p>
            <p md-line>{{client.address}}, {{client.postleihzahl}} {{client.city}}</p>
            <p md-line>{{client.deliveryCount}} Lieferungen aus <b>{{client.defaultStore}}</b></p>
            <p md-line>Letzte Lieferung vor XXX Tagen ({{client.lastDeliveryDate}})</p>
           
            <md-slide-toggle [(checked)]="client.visible" (change)="changeVisible(client.id)">
                Anzeigen
            </md-slide-toggle>

            <button md-icon-button (click)="changeStarred(client.id)">
          <md-icon *ngIf="!client.starred">star_border</md-icon>
          <md-icon *ngIf="client.starred">star</md-icon>
      </button>

            <button md-raised-button (click)="onSelect(client)" [disabled]="client.selected">Anzeigen</button>
        </md-list-item>
    </md-list>
</div>
-->