.percent {
    text-align: center;
    font-size: 2em;
}

.subline {
    text-align: center;
}

ngx-datatable {
    height: 500px;
}

location-picker {
    width: 300px;
    height: 300px;
}

.import,
.export {
    width: 46%;
}