<div class="fileuploader">
    <md-card class="import">
        <md-card-title>1. Dateiupload</md-card-title>
        <md-card-content>
            <p>Letzter Import: <b>{{settings.importAssistant.lastImportDate | date:'EEEE, d.MMMM y hh:mm'}}</b></p>
            <p>Daten für
                <md-radio-group>
                    <md-radio-button value="domicile" [checked]="workspace.slug == 'domicile'" (change)="workspaceChanged('domicile')">1-2-Domicile</md-radio-button>
                    <md-radio-button value="wili" [checked]="workspace.slug == 'wili'" (change)="workspaceChanged('wili')">Wili</md-radio-button>
                </md-radio-group>
            </p>

            <!-- <md-checkbox [checked]="settings.importAssistant.fileHasHeader"> Datei enthält Spaltenüberschriften 
            </md-checkbox> -->



            <xlsx-file-upload (uploadedXls)="xlsxUploaded($event)"> {{ uploaderContent | async }} </xlsx-file-upload>

        </md-card-content>



    </md-card>
    <md-card class="export">
        <md-card-title>Kundendaten exportieren</md-card-title>
        <md-card-subtitle>Das exportierte CSV-File kann direkt in die Excel-Statistik importiert werden.</md-card-subtitle>
        <md-card-content>

            <clients-export></clients-export>
        </md-card-content>



    </md-card>




    <md-card *ngIf="userProgress >= 2">
        <md-card-title> 2. Uploadstatus</md-card-title>
        <md-progress-bar class="example-margin" [color]="accent" [mode]="determinate" [value]="progress.finishedPercent" [bufferValue]="progress.bufferPercent">
        </md-progress-bar>
        <md-card-content>
            <div *ngIf="progress.finishedPercent < 100">

                <div class="percent">{{progress.finished}} von {{totalRows}} verarbeitet</div>
                <div class="subline">Wi bitten um Geduld, es kann einige Zeit dauern.</div>
            </div>
            <div *ngIf="progress.finishedPercent == 100">

                <div class="percent">Erfolgreich verarbeitet</div>
                <div class="subline">Bitte kontrollieren sie die Einträge unten.</div>
            </div>

        </md-card-content>
    </md-card>
    <md-card *ngIf="userProgress >= 3">
        <md-card-title>3. Ergebnisse überprüfen</md-card-title>
        <md-card-content>
            <!--<md-checkbox [checked]="settings.importAssistant.importResults.showSuccess"> Erfolgreiche</md-checkbox>
                <md-checkbox [checked]="settings.importAssistant.importResults.showCorrupt"> Fehlende Daten</md-checkbox>
                <md-checkbox [checked]="settings.importAssistant.showSkipped"> Übersprungene</md-checkbox> -->
            <h2>Erfolgreich</h2>
            <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="importResults.success">
                <ngx-datatable-column name="{{column.name}}" prop="{{column.slug}}" [width]="30" *ngFor="let column of workspace.exportColumns"></ngx-datatable-column>

            </ngx-datatable>
            <h2>Überprüfung notwendig</h2>
            <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="importResults.missingCoordinates">
                <ngx-datatable-column name="" width="auto " [resizeable]="false " [sortable]="false " [draggable]="false " [canAutoResize]="true " (click)="toggleExpandRow(row) ">
                    <ng-template let-row="row " ngx-datatable-cell-template>
                        <client-edit-dialog (onChange)="updateRow(row.id, $event) " [client]="row " style="width: 300px; height: 200px ">x
                        </client-edit-dialog>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="{{column.name}}" prop="{{column.slug}}" [width]="30" *ngFor="let column of workspace.exportColumns"></ngx-datatable-column>

            </ngx-datatable>
            <p *ngFor="let column of workspace.exportColumns">{{column}}</p>

        </md-card-content>
    </md-card>
    <md-card *ngIf="userProgress>= 3">
        <md-card-title>4. Import fertigstellen</md-card-title>
        <md-card-subtitle>Stelle zuvor sicher, dass alle Daten korrekt sind. Nur Datensätze in der Liste "Erfolgreich" werden übernommen, alle anderen werden warnungslos verworfen.</md-card-subtitle>
        <md-card-content>
            <button md-raised-button (click)="saveImportedData()"><md-icon>save</md-icon> Daten definitiv importieren</button>

        </md-card-content>
    </md-card>