<md-sidenav-container>
    <header-bar (navToggle)="mainnav.toggle()" (infoToggle)="infonav.toggle()"></header-bar>
    <md-sidenav #mainnav mode="side" opened class="mainnav">
        <mainnavigation></mainnavigation>
    </md-sidenav>

    <div class="mainframe">
        <!-- <search-results></search-results> -->
        <router-outlet></router-outlet>
    </div>

    <md-sidenav #infonav mode="side" align="end" class="infonav">
        <md-tab-group>
            <md-tab>
                <ng-template md-tab-label>
                    <md-icon>supervisor_account</md-icon> Kunden
                </ng-template>
                <infonavigation></infonavigation>
            </md-tab>
            <md-tab>
                <ng-template md-tab-label>
                    <md-icon>store</md-icon> Geschäfte
                </ng-template>
                
                <storenavigation></storenavigation>
            </md-tab>
        </md-tab-group>


    </md-sidenav>



</md-sidenav-container>