.resultsCount {
    font-family: Arial;
    height: 40px;
    margin: 0;
    line-height: 40px;
}
.reset {
    position: absolute;
    top: 0;
    right: 16px;
}
md-select {
    width: 100%;
}
p.select {
    padding: 8px 0;
}
md-input-container {
font-family: Roboto,"Helvetica Neue",sans-serif;
}
p.date {
    margin: 0;
    
}

img {
    max-width: 24px;
    max-height: 24px;
}



.deliveryAmount input {
    width: 40px;
}
input::-webkit-calendar-picker-indicator{
    display: none;
}
input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}