.resultsCount {
    height: 40px;
    margin: 0;
    line-height: 40px;
}

.reset {
    position: absolute;
    top: 0;
    right: 16px;
}

md-select {
    width: 100%;
}

p.select {
    padding: 8px 0;
}

p.date {
    margin: 0;
}

.deliveryAmount input {
    width: 40px;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}