<div class="quicksearch">
    <md-input-container>
        <input mdInput type='text' placeholder='Schnellsuche nach Namen..' (keyup)='updateFilter($event)' value="" />
        <button md-icon-button mdSuffix><md-icon>search</md-icon></button>
    </md-input-container>
</div>
<ngx-datatable class="material " #table [columnMode]=" 'force' " [messages]="{emptyMessage:'<div class=\'empty\'>Leider keine Einträge vorhanden.</div>'}" [headerHeight]="0" [footerHeight]="28" [rowHeight]="32" [scrollbarV]="true " [scrollbarH]="false "
    [rows]="data ">

    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="160" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" ngx-datatable-row-detail-template>
            <div class="detail-box">
                <div class="row-detail">

                    <section class="address">
                        {{row.name}}<br /> {{row.address}}
                        <br /> {{row.postleihzahl}} {{row.city}}
                    </section>

                    <section class="infos">


                        <round-progress [current]="row.deliveryCount" [max]="25" [color]="'#45ccce'" [background]="'#eaeaea'" [radius]="deliveryCountRadius" [responsive]="true" [stroke]="16" [semicircle]="true" [rounded]="true" [duration]="800" [animation]="'easeInOutQuart'"
                            [animationDelay]="0"></round-progress>
                        <div class="deliveryCount"> <span>{{row.deliveryCount}}</span> Lieferungen</div>
                    </section>
                    <section class="infos2">
                        <div><img src="{{settingsService.getStoreGroupImage(row.defaultStore, 'icon')}}" alt="{{row.defaultStore}}" class="stores-icon-24" /> {{row.storeGroup}} {{ row.defaultStore }}</div>
                        <div *ngIf="row.lastDeliveryDate"><span>{{clientsService.daysSinceDate(row.lastDeliveryDate)}}</span> Tage seit Lieferung ({{row.lastDeliveryDate | date:'d.M.yy' }})</div>
                        <div *ngIf="row.firstOrderDate">Kunde seit <span>{{clientsService.daysSinceDate(row.firstOrderDate)}}</span> Tagen ({{row.firstOrderDate | date:'d.M.yy' }})</div>
                    </section>
                </div>
                <div class="row-actions">
                    <section class="showOnMap">
                        <button routerLink="/map/client/{{row.id}}" md-button [disabled]="row.selected" class="fullsize"><md-icon>remove_red_eye</md-icon> Auf Karte</button>
                    </section>
                    <section class="markAsFavorit" (click)="markAsFavorit(row.id)">
                        <button md-button class="fullsize">
                        <md-icon *ngIf="!row.starred">star_border</md-icon>
                        <md-icon *ngIf="row.starred">star</md-icon> Favorit
                    </button>
                    </section>
                    <section class="changeVisible" (click)="changeVisible(row.id)">
                        <button md-button class="fullsize">
                        <md-slide-toggle [(checked)]="row.visible" >Sichtbar</md-slide-toggle><br />
                        </button>
                    </section>

                </div>




            </div>
        </ng-template>
    </ngx-datatable-row-detail>
    <!-- Column Templates -->
    <ngx-datatable-column [width]="32" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="clickable" [class.datatable-icon-right]="!row.$$expanded" [class.datatable-icon-down]="row.$$expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
            </span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="name" width="auto" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="true">
        <ng-template let-row="row" ngx-datatable-cell-template class="clickable">
            <span (click)="toggleExpandRow(row)" class="clickable"><strong>{{row.name}}</strong> {{row.address}}</span>
            <md-icon *ngIf="row.starred">star</md-icon>
        </ng-template>
    </ngx-datatable-column>



</ngx-datatable>