
 
 .headerbar md-toolbar-row {
    align-items: flex-start !important;
}
.on-map {
    position: absolute;
    z-index: 1000;
}

.map-button {
    width: 35px;
    height: 35px;
    text-align: center;
}


.leaflet-clickable {
  cursor: crosshair !important;
}

.leaflet-container {
  cursor: help !important;
}

.leaflet-container .leaflet-popup-content img {
    max-height: 24px;
    width: auto;
}
.leaflet-container .left {
    float: left;
    width: 90px;   
    margin-right: 10px; 
}
.leaflet-container .right {
    float: right;
    width: 200px;    
}
.leaflet-container .name {
    font-size: 1.25em;
    font-weight: bold;
}

.leaflet-container section.cleft {
    width: 309px;
    height: 220px;
    float: left;
    padding: 1em;
    box-sizing: border-box;
}
.leaflet-container section.cright {
    width: 158px;
    float: right;
    padding: 0.8em;
    box-sizing: border-box;
    background: #ddd;
    border-left: 1px solid #999;
    height: 220px;
    text-align: center;
}
.leaflet-container section.cclear {
    clear: both;
    float: none;
}

.leaflet-popup-content .number {
    font-size: 2.5em;
    display: block;
}
.leaflet-popup-content .name {
    font-size: 1.15em;
    color: #333;
}

.leaflet-popup-content {
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}