*:not(md-icon) {
    font-family: sans-serif;
}
h1 {
    margin: 2.5%;
}
md-card {
    width:42%;
    float: left;
    margin: 0 0 2% 2%;
}
md-input-container {
    width: 100%;
    margin-bottom: 20px;
}
.container {
    height: 100%;
    overflow: scroll;
}
.controls {
    position: absolute;
    top: 6px;
    right: 12px;
    width: 500px;
    z-index: 1000;
    text-align: right;
    
    > button:first-of-type {
        margin-right: 4px;
    }
    button {
        background: white;
    }
}
.example-full-width {
  width: 100%;
}

.stores {

    width:21%;
    float: left;
    margin: 0 0 1% 1%;
    img {
        max-width: 80%;
        padding: 0 10%;
        height: auto;
    }
}