<div class="container">
<md-tab-group>
  <md-tab label="Grundeinstellungen">
    <h1 class="title">Grundeinstellungen</h1>
<md-card>
  <md-card-header>Datengrundlage</md-card-header>
  
  <md-card-content>
    Sie können hier nur Excel (.xls, .xlsx) und OpenOffice-Dokumente (.ODS) hochladen
    <fileuploader></fileuploader></md-card-content>
</md-card>
<md-card>
  <md-card-header>Arbeitsmodus</md-card-header>
  
  <md-card-content>
    
    <md-radio-group (change)="workspaceChanged()" [(ngModel)]="workspaceSlug">
            <md-list-item><md-radio-button value="12d" checked>1-2-Domicile</md-radio-button></md-list-item>
            <md-list-item><md-radio-button value="wili">Wili</md-radio-button></md-list-item>
        </md-radio-group>

    </md-card-content>
</md-card>

<md-card>
  <md-card-header>Filteroptionen</md-card-header>
  
  <md-card-content>
    <p>In diesem Abschnitt können sie alle Grundeinstellungen vornehmen, mit welchen die Filteroptionen arbeiten.</p>
  
    <md-input-container hintLabel='Wird für "Keine Bestellungen seit XX Tagen"-Filter verwendet.'>    
        <input mdInput type="number" placeholder="Inaktivitätszeitraum" [(ngModel)]="settings.filters.noOrdersSinceDays">
        <span mdSuffix>Tage</span>
    </md-input-container>

    <md-input-container hintLabel='Kunden mit mehr als XX Lieferungen werden als wiederkehrende Kunden gefiltert.'>    
        <input mdInput type="number" placeholder="Mindestbestellungen wiederkehrende Kunden" [(ngModel)]="settings.filters.amountForReturningClients">
        <span mdSuffix>Tage</span>
    </md-input-container>


    </md-card-content>
</md-card>


    
    
    </md-tab>
  <md-tab label="Geschäfte verwalten">
<h1 class="title">Geschäfte verwalten</h1>

<md-card *ngFor="let store of settings.stores; let i = index" class="stores">
  <md-card-header> {{store.name}}</md-card-header>
  
  <md-card-content>
    
        <img md-list-avatar src="assets/icons/stores/{{settings.storesGroups[store.group].slug}}_full.svg" alt="{{store.name}}">
        <!-- <img src="/assets/icons/stores_{{store.icon}}" title="{{store.name}}" class="icon"/>  -->
        <p md-line><b></b></p>
        <span md-line>
          <button md-button (click)="editStore(i)"><md-icon>mode_edit</md-icon>Bearbeiten</button>
          <button md-button (click)="editStore(i)"><md-icon>delete_forever</md-icon>Löschen</button>
         </span>
     
    </md-card-content>
</md-card>



  </md-tab>
</md-tab-group>


</div>


<div class="controls" >

<button md-button (click)="saveSettings()"><md-icon>save</md-icon> Einstellungen Speichern</button>
<button md-button (click)="loadDefaults()"><md-icon>settings_backup_restore</md-icon>Auf Standard zurücksetzten</button>
</div>

