h1 {
    margin: 2.5%;
}
md-card {
    width:42%;
    float: left;
    margin: 0 0 2% 2%;
}
md-input-container {
    width: 100%;
    margin-bottom: 20px;
}
.container {
    height: 100%;
    overflow: scroll;
}
.controls {
    position: absolute;
    top: 10px;
    right: 24px;
    width: 500px;

    text-align: right;
    
    > button:first-of-type {
        margin-right: 8px;
    }
}
.example-full-width {
  width: 100%;
}